.groups {
  position: relative;
  display: inline-block;
}

#list li:hover {
  color: #6b6;
  text-decoration: underline;
}

#list-group {
  float: left;
}

#display-group {
  float: right;
}

#admin-group {
  float: left;
  clear: left;
}

#names-group {
  float: left;
  clear: left;
}

#admin-form {
  float: right;
}
